.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
}

.cardWrapper {
    position: relative;
}

.noProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    text-align: center;
}
