.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 56px;
    background-color: #1f2227;
    font-family: 'Roboto', sans-serif;
}

.leftSection {
    display: flex;
    gap: 24px;
}

.navbarItem {
    color: #ecf0f1;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}

.navbarItem:hover {
    color: #1abc9c;
}
